.pLogo {
    text-align: center;
    background: linear-gradient(45deg, #8c2f39, black);
    margin: -8px;
}

.logo {
    width: 10%;
    height: 10%;
    border: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset{
    border-color: red;
    border-width: 5px;
    color: black;
    margin-right: 60%;
}

.cal{
    margin-top: 5px;
}